In [ ]:
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd

In [133]:
urls = ["http://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;filter=advanced;orderby=start;result=1;result=2;size=200;spanmax1=29+May+2019;spanmin1=29+May+2009;spanval1=span;team=1;team=2;team=25;team=3;team=4;team=40;team=5;team=6;team=7;team=8;template=results;type=team;view=results"]
for i in range(2,11):
    urls.append(f"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;filter=advanced;orderby=start;page={i};result=1;result=2;size=200;spanmax1=29+May+2019;spanmin1=29+May+2009;spanval1=span;team=1;team=2;team=25;team=3;team=4;team=40;team=5;team=6;team=7;team=8;template=results;type=team;view=results")
lst = []
for url in urls:
    soup = BeautifulSoup(requests.get(url).text, "lxml")
    a = soup.find("div", {"class" : "pnl650M"}).select("table", {"class" : "engineTable"})[2]
    try:
        columns
    except:
        columns = a.find("thead").text.splitlines()[2:-2]
    for record in a.find("tbody").select("tr", {"class" : "data1"}):
        lst.append(record.text.splitlines()[1:-1])
df = pd.DataFrame(lst, columns=columns)
df.Opposition = df.Opposition.str.replace("v ", "")
df.head()

,Team,Result,Margin,BR,Toss,Bat,,Opposition,Ground,Start Date
0,India,won,20 runs,,won,1st,,West Indies,Kingston,26 Jun 2009
1,West Indies,lost,20 runs,,lost,2nd,,India,Kingston,26 Jun 2009
2,West Indies,won,8 wickets,95,lost,2nd,,India,Kingston,28 Jun 2009
3,India,lost,8 wickets,95,won,1st,,West Indies,Kingston,28 Jun 2009
4,India,won,6 wickets,1,won,2nd,,West Indies,Gros Islet,3 Jul 2009

In [138]:
grounds_data = pd.read_csv("../K/cricket_grounds_in_all_over_world.csv")
ground_country_dict = {}
for ground in df.Ground.unique():
    for i in grounds_data.columns:
        if True in grounds_data[i].str.lower().str.contains(ground.lower()).unique():
#             if ground in ground_country_dict:
#                 print(f"This Ground <{ground}> in more than 2 countries.\n1-{ground_country_dict[ground]}\n2-{i}")
                
#             else:
                ground_country_dict[ground] = i

/usr/lib/python3/dist-packages/ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

In [142]:
df['Ground_country'] = df.Ground.replace(ground_country_dict)

In [144]:
df.to_csv("ODI_matches_data.csv")

In [145]:
!pwd

/home/amir/LFD-server/cricket-worlcup-statistics/teams-statistics