In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Original_data_converted_to_csv_from_rds_file.csv").drop("Unnamed: 0", axis=1)
# data = data[data.DataType == "New"]
data['DisbursalDate'] = pd.to_datetime(data.DisbursalDate)
data['Month_and_Year'] = pd.to_datetime(data['DisbursalDate']).dt.to_period('M')
data['PrimaryKey'] = (data.applicationnumber.map(str) + data.loantype.map(str)).str.replace("\.0", "")


# keep_new_or_used = input("Remove duplicated \n1-New\n or \n2-Old\n")
# if keep_new_or_used == '1':
#     keep = 'last'
# elif keep_new_or_used == '2':
#     keep = 'first'
keep = "first"
try:
    dataa = data.sort_values('DataType').drop_duplicates('PrimaryKey',keep= keep)
    del keep
    dataa.shape
    dataa.PrimaryKey.nunique() / len(dataa)
    print('\n\n\n', dataa.DataType.value_counts() / len(dataa))
except:
    pass



to_drop = ["applicationnumber", "30 DPDs Instance", "DisbursalDate", "DataType", "BussinessLegalStatus",
           "AccomodationType", "ResidenceType", "PrimaryKey", "RentAmount", "OtherLoanBank"]
data.LoanTenor = data.LoanTenor.str.lower()
data.SectorDescription[data.SectorDescription == "OTHERS"] = "Others"
data = data.drop(to_drop, axis=1)

 Old    0.721479
New    0.278521
Name: DataType, dtype: float64

In [3]:
data.isna().sum().sum()

5

In [4]:
data = data.dropna()
data.isna().sum().sum()

0

In [5]:
data.columns

Index(['loantype', 'LoanTenor', 'LoanAmount', 'SectorDescription',
       'EstablishedSinceMonths', 'CurrentAddressSinceMonths', 'DocumentCharge',
       'EMI', 'InterestRate', 'InsuranceRate', 'InsuranceAmount',
       'MariatlStatus', 'MailThrough', 'NoOfDependents', 'Qualification',
       'NetBusinessIncome', 'NetDisposableIncome', 'ProfessionDesc', 'DPD30',
       'Month_and_Year'],
      dtype='object')

In [6]:
data = data[(data.EstablishedSinceMonths != 0)  &
         (data.EstablishedSinceMonths < 300)  &
        (data.CurrentAddressSinceMonths != 0) &
        (data.CurrentAddressSinceMonths < 300)]

In [7]:
# here is one record there is insuranceAmount but no InsuranceRate!!
data[(data.InsuranceRate != 0) & (data.InsuranceAmount == 0)]

,loantype,LoanTenor,LoanAmount,SectorDescription,EstablishedSinceMonths,CurrentAddressSinceMonths,DocumentCharge,EMI,InterestRate,InsuranceRate,InsuranceAmount,MariatlStatus,MailThrough,NoOfDependents,Qualification,NetBusinessIncome,NetDisposableIncome,ProfessionDesc,DPD30,Month_and_Year
1929,8,9 months,50000.0,Trading,120,120,1000,6810,30.0,1.1,0,Married,HomeAddress,4,Illiterate,31600.0,19575.0,Business,0,2015-01

In [8]:
data = data[data.NoOfDependents < 11]
len(data)

115611

In [9]:
data = data[data.NetBusinessIncome > 0]
len(data)

115593

In [10]:
data = data[data.NetDisposableIncome >= 0]
len(data)

113793

In [11]:
data.ProfessionDesc = data.ProfessionDesc.str.lower()
data.ProfessionDesc = data.ProfessionDesc.astype("str")
data.ProfessionDesc[(data.ProfessionDesc == 'electrical') 
                    | (data.ProfessionDesc == 'electrinics')] = "electrician"
data.ProfessionDesc[data.ProfessionDesc == 'tailer'] = "tailor"
data.ProfessionDesc[(data.ProfessionDesc == 'merchant' )
                    | (data.ProfessionDesc == 'traders')] = 'business'
data.ProfessionDesc[data.ProfessionDesc == 'computer professional'] = 'computer'
data.ProfessionDesc[(data.ProfessionDesc == 'dentist' )
                    | (data.ProfessionDesc == 'surgical')
                    | (data.ProfessionDesc == 'nurse')] = 'doctor'
data.ProfessionDesc[data.ProfessionDesc == 'paint'] = "painter"
data.ProfessionDesc[(data.ProfessionDesc == 'student' )
                    | (data.ProfessionDesc == 'teacher')] = "education"
data.ProfessionDesc[(data.ProfessionDesc == 'shoe trading' )
                    | (data.ProfessionDesc == 'shoes Manufacturing / Producti')] = "shoes"
data.ProfessionDesc[(data.ProfessionDesc == 'stitching accessories (manufac') 
                    | (data.ProfessionDesc == 'stitching accessories (trading')] = "stitching accessories"
data.ProfessionDesc[(data.ProfessionDesc == 'baker' )
                    |(data.ProfessionDesc == 'food & beverages' )
                    |(data.ProfessionDesc == 'cook' )
                    | (data.ProfessionDesc == 'dairy Products')] = "food"
data.ProfessionDesc[data.ProfessionDesc == 'diplomat'] = "govt.service"
data.ProfessionDesc[data.ProfessionDesc == 'lab.technician'] = "technician"
data.ProfessionDesc[(data.ProfessionDesc == 'sales/marketing professiona') 
                    | (data.ProfessionDesc == 'salesman (trading)')] = "salesman"
data.ProfessionDesc[(data.ProfessionDesc == 'auto denting & painting') 
                    | (data.ProfessionDesc =="auto parts dealers")] = "auto denting & painting | auto parts"

In [12]:
l = []
for i in data.ProfessionDesc.unique():
    if list(data.ProfessionDesc).count(i) < 10000:
        l.append(i)
data.ProfessionDesc = ["other" if i in l else i for i in data.ProfessionDesc]

In [13]:
data.to_csv("small_cleaned_data")