# Records / ICC Cricket World Cup, 2019

In [1]:
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd

/usr/lib/python3/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.3) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

# Batting averages

In [38]:
url = "http://stats.espncricinfo.com/ci/engine/records/averages/batting.html?id=12357;type=tournament"
soup = BeautifulSoup(requests.get(url).text, "lxml")
s = soup.select("table", {"class" : "engineTable"})[0].find_all("tbody")[0].find_all("tr", {"class" : "data1"})
columns = soup.select("table", {"class" : "engineTable"})[0].select("tr", {"class" : "head"})[0].get_text().splitlines()[1:]
all_data  = []
for i in s:
    all_data.append(i.get_text().splitlines()[1:])
    df_batting_avg = pd.DataFrame(all_data, columns = columns)
    
df_batting_avg["Country"] = df_batting_avg.Player.str.extract("\(([^)]+)")
df_batting_avg["Player"] = df_batting_avg.Player.str.replace(r"\(.*\)","").str.strip().str.lower()
df_batting_avg["HS"] = df_batting_avg.HS.str.replace("*", "")
for i in ["Mat", "Inns", "NO", "Runs", "HS", "BF", "100", "50", "0", "4s", "6s"]:
    if "-" in df_batting_avg[i].unique():
        df_batting_avg[i] = df_batting_avg[i].replace("-", None).astype(int)
    else:
        df_batting_avg[i] = df_batting_avg[i].astype(int)
        
for i in ["Ave", "SR"]:
    if "-" in df_batting_avg[i].unique():
        df_batting_avg[i] = df_batting_avg[i].replace("-", None).astype(float)

df_batting_avg.to_csv("Batting_averages.csv", index=False)
df_batting_avg.head()

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,aftab alam,3,3,1,14,14,7.00,12,116.66,0,0,1,3,0,AFG
1,mm ali,5,5,1,75,31,18.75,67,111.94,0,0,0,3,5,ENG
2,fa allen,3,3,1,51,51,25.50,33,154.54,0,1,1,7,1,WI
3,sw ambris,2,2,0,36,31,18.00,46,78.26,0,0,0,3,0,WI
4,hm amla,7,7,2,203,80,40.60,313,64.85,0,2,0,16,0,SA

# Bowling averages

In [39]:
url = "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=12357;type=tournament"
soup = BeautifulSoup(requests.get(url).text, "lxml")
s = soup.select("table", {"class" : "engineTable"})[0].find_all("tbody")[0].find_all("tr", {"class" : "data1"})
columns = soup.select("table", {"class" : "engineTable"})[0].select("tr", {"class" : "head"})[0].get_text().splitlines()[1:]
all_data  = []
for i in s:
    all_data.append(i.get_text().splitlines()[1:])
    df_bowling_avg = pd.DataFrame(all_data, columns = columns)

df_bowling_avg["Country"] = df_bowling_avg.Player.str.extract("\(([^)]+)")
df_bowling_avg["Player"] = df_bowling_avg.Player.str.replace(r"\(.*\)","").str.strip().str.lower()

for i in ["Mat", "Inns", "Mdns", "Runs", "Wkts", "4", "5", "Ct", "St"]:
    if "-" in df_bowling_avg[i].unique():
        df_bowling_avg[i] = df_bowling_avg[i].replace("-", None).astype(int)
    else:
        df_bowling_avg[i] = df_bowling_avg[i].astype(int)
        
for i in ["Overs", "Ave", "Econ", "SR"]:
    if "-" in df_bowling_avg[i].unique():
        df_bowling_avg[i] = df_bowling_avg[i].replace("-", None).astype(float)
    else:
        df_bowling_avg[i] = df_bowling_avg[i].astype(float)
        
        
df_bowling_avg.to_csv("Bowling_averages.csv", index=False)
df_bowling_avg.head()

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Ct,St,Country
0,aftab alam,3,3,20.1,2,115,4,3/45,28.75,5.70,30.2,0,0,0,0,AFG
1,mm ali,5,5,43.0,0,230,5,3/50,46.00,5.34,51.6,0,0,3,0,ENG
2,fa allen,3,3,21.0,0,122,1,1/44,122.00,5.80,126.0,0,0,5,0,WI
3,sw ambris,2,3,21.0,0,122,1,-,122.00,5.80,126.0,0,0,0,0,WI
4,hm amla,7,3,21.0,0,122,1,-,122.00,5.80,126.0,0,0,4,0,SA

# Players

In [1]:
Teams = ["Australia", "Bangladesh", "England", "India", "New Zealand", "Pakistan",
        "South Africa", "Sri Lanka", "West Indies", "Afghanistan"]

url = "http://www.espncricinfo.com/ci/content/player/"
soup = BeautifulSoup(requests.get(url).text, "lxml")
s = soup.find("div", {"class" : "ciPlayersHomeCtryList"}).select("ul")[0].find_all("li")
country_urls = []
c = Teams.copy()
for i in s:
    try:
        if i.get_text() in Teams:
            country_urls.append(url + i.find("a")['href'])        
            c.remove(i.get_text()) 
    except:
        pass
if c:
    if len(c) == 1:
        if c[0] == "Afghanistan":
            country_urls.append("http://www.espncricinfo.com/ci/content/player/index.html?country=40")
        else:
            raise Exception("There is one country not included to our coutry list, please add it")
    else:
        raise Exception("There is some Countries not included by our scrapper, you should aware it")
        
        
players_links = []
for url in country_urls:
    try:
        soup = BeautifulSoup(requests.get(url).text, "lxml")
        for i in soup.find("table", {"class" : "playersTable"}).select("td", {"class": "divider"}):
            if url != "http://www.espncricinfo.com/ci/content/player/index.html?country=40":
                country = soup.find("li", {"class" : "selectedtab"}).get_text().lower()
            else:
                country = soup.find("span", {"id" : "ciShowCountry"}).get_text().lower()
            players_links.append("http://www.espncricinfo.com/" + country.replace(" ", "") + i.find("a")['href'][3:])
            del country
    except:
        pass
    
    
for url in players_links:
    soup = BeautifulSoup(requests.get(url).text, "lxml")
    
    player_name = soup.find("div", {"class" : "ciPlayernametxt"}).find("h1").find("a")["alt"]
    player_name = player_name.replace(" ", "_").replace("_RSS_Feed", "")
    a = soup.find("div", {"class" : "pnl490M"}).select("table", {"class" : "engineTable"})
    Batting_and_fielding_averages = a[0]
    Bowling_averages = a[1]

    # Batting_and_fielding_averages
    Batting_and_fielding_average_columns = []
    for i in Batting_and_fielding_averages.find("tr", {"class" : "head"}).select("th", {"nowrap" : "nowrap"})[1:]:
        Batting_and_fielding_average_columns.append(i.get_text())
    lst = []
    for i in Batting_and_fielding_averages.find("tbody").find_all("tr", {"class" : "data1"}):
            lst.append(i.get_text().splitlines()[1:])
    df1 = pd.DataFrame(lst, columns= ["Type"] + Batting_and_fielding_average_columns)
#     df1 = df1.add_suffix("_B&F") # Batting_and_fielding

    # Bowling_averages
    Bowling_averages_columns = []
    for i in Bowling_averages.find("tr", {"class" : "head"}).select("th", {"nowrap" : "nowrap"})[1:]:
        Bowling_averages_columns.append(i.get_text())
    lst = []
    for i in Bowling_averages.find("tbody").find_all("tr", {"class" : "data1"}):
            lst.append(i.get_text().splitlines()[1:])
    df2 = pd.DataFrame(lst, columns= ["Type"] + Bowling_averages_columns)
#     df2 = df2.add_suffix("_Bowl") # Bowling

    df = pd.concat([df1, df2.iloc[:, 1:]], axis=1)
    
    country = url.split("/")[3]
    dirs = os.listdir()
    if not country in os.listdir():
        os.makedirs(country)
    
    df.to_csv(f"{country}/{player_name}.csv")

In [75]:
# names_players = []
# for url in players_links:
#     soup = BeautifulSoup(requests.get(url).text, "lxml")
    
#     player_name = soup.find("div", {"class" : "ciPlayernametxt"}).find("h1").find("a")["alt"]
#     player_name.replace("RSS Feed", "").strip().lower()
#     names_players.append(player_name)

set([i.replace("RSS Feed", "").strip().lower() in df_batting_avg.Player for i in names_players])

{False}

# Go into each directory, read each file, and only select ODI statistics. create a file and put all ODI's records in it.

In [156]:

names = []
country = []
lst = []
dirs = !ls -d */
for i in dirs:
    os.chdir(i) 
    try:
        files = os.listdir()
        files = [i for i in files if i.endswith(".csv")]
        for file in files:
            df = pd.read_csv(file).drop("Unnamed: 0", axis=1)
            df = df[df["Type_B&F"] == "ODIs"]
            if len(df) > 0:
                lst.append(df)
                names.append(file[:-4])
                country.append(i)
    except:
        pass
    os.chdir("../")
print(len(names))
print(len(lst))
print(len(country))


df = pd.concat(lst)
df["Name"] = names
df["Country"] = [i.replace("/", "") for i in country]
df = df[['Name', "Country"] + list(df.columns.drop(["Name", "Country"]))]
df.to_csv("ODI-cricketers-summary.csv")

266
266
266

In [89]:
adf = pd.read_csv("pakistan/Abid_Ali.csv").drop('Unnamed: 0', axis=1)
adf.iloc[np.where(adf.Type == "ODIs")[0].tolist()[0], 1:15]\
[["Mat", "Inns",  "NO",  "Runs",  "HS",  "Ave",  "BF",  "SR",  "100",  "50",  "4s", "6s" ]].astype("float")

Mat       3.00
Inns      3.00
NO        0.00
Runs    117.00
HS      112.00
Ave      39.00
BF      129.00
SR       90.69
100       1.00
50        0.00
4s       10.00
6s        0.00
Name: 0, dtype: float64

In [96]:
adf.iloc[np.where(adf.Type == "ODIs")[0].tolist()[0], 1:15]\
[["Mat", "Inns",  "NO",  "Runs",  "HS",  "Ave",  "BF",  "SR",  "100",  "50",  "4s", "6s" ]].astype("float")

Mat       3.00
Inns      3.00
NO        0.00
Runs    117.00
HS      112.00
Ave      39.00
BF      129.00
SR       90.69
100       1.00
50        0.00
4s       10.00
6s        0.00
Name: 0, dtype: float64

In [100]:
df1[["Mat", "Inns",  "NO",  "Runs",  "Ave",  "BF",  "SR",  "100",  "50",  "4s", "6s" ]].loc[1] - \
adf.iloc[np.where(adf.Type == "ODIs")[0].tolist()[0], 1:15]\
[["Mat", "Inns",  "NO",  "Runs",  "Ave",  "BF",  "SR",  "100",  "50",  "4s", "6s" ]].astype("float")

Mat      2.00
Inns     2.00
NO       1.00
Runs   -42.00
Ave    -20.25
BF     -62.00
SR      21.25
100     -1.00
50       0.00
4s      -7.00
6s       5.00
dtype: float64

In [108]:
df1.Player = df1.Player.str.strip().str.replace(" ", "_")

In [123]:
adf = pd.read_csv("afghanistan/Aftab_Alam.csv").drop("Unnamed: 0", axis=1)
adf.iloc[np.where(adf.Type == "ODIs")[0].tolist()[0], 1:15]\
[["Mat", "Inns",  "NO",  "Runs",  "Ave",  "BF",  "SR",  "100",  "50",  "4s", "6s" ]].astype("float")

Mat      27.00
Inns     17.00
NO       10.00
Runs     80.00
Ave      11.42
BF      107.00
SR       74.76
100       0.00
50        0.00
4s        9.00
6s        3.00
Name: 0, dtype: float64